*{
    padding: 0;
    margin: 0;
  }
#navbarCollapse{
    display: flex;
    justify-content: center;
   }
.navbar-brand{
   margin-left: 200px; 
}
.navbar-nav > li {
 margin-right: 20px;
}

.section-white{
    background-color: #1D0002;
}
.section-blue{
    background-color: grey;
}
.section-green{
    background-color: green;
}
h3, h5, hr{
    display: flex;
    justify-content: center;
}